html {
    background: #e6e9e9;
    background-image: linear-gradient(270deg, rgb(230, 233, 233) 0%, rgb(216, 221, 221) 100%);
    -webkit-font-smoothing: antialiased;
}

body {
    
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #545454;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 800px;
    padding: 2em 2em 4em;
}

h1, h2, h3, h4, h5, h6 {
    color: #222;
    font-weight: 600;
    line-height: 1.3;
}

h2 {
    margin-top: 3em;
}

a {
    color: #0083e8;
}

b, strong {
    font-weight: 600;
}

samp {
    display: none;
}

img {
    animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
    background: transparent;
    border: 10px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    display: block;
    margin: 1.3em auto;
    max-width: 95%;
}

@keyframes colorize {
    0% {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
    100% {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
    }
}

#button {
    position: fixed;
    top: 20px;
    background-color: yellow;
    color: #0e606f;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin-left: 350px;
    text-decoration: none;
    padding: 10px;
    box-shadow: 
        1px 0 0 #831127, 
        0 1px 0 #831127, 
        2px 1px 0 #831127, 
        1px 2px 0 #831127, 
        3px 2px 0 #831127, 
        2px 3px 0 #831127, 
        4px 3px 0 #831127, 
        3px 4px 0 #831127, 
        4px 4px 5px  #000;
}

.spacer_container {
    
    padding-bottom:  60px;
}


.workplace {
    background-color: lightyellow;
    box-shadow: 0 0 8px black;
    width: 720px;
    padding: 40px 40px;
    margin-top: 30px;

}

#pickcolor {
    text-align: center;
    text-shadow: -1px -1px 0 rgba(255,255,255,0.5), 1px 1px 0 rgba(0,0,0,0.5);
    color: #333;
    font-size: 38px;
    font-family: "Century Gothic";
    padding: 30px 0;
    margin-top: -40px;
}

#palette {
    float: left;
}

.color {
    height: 50px;
    width: 50px;
    border: 1px solid #aaa;
    margin-bottom: 20px;
    cursor: pointer;
    margin-left: -10px;
}

#red { background-color: #cc0000; }
#yellow { background-color: #ffec00; }
#blue { background-color: #0000cc; }
#white { background-color: white; }

#canvas {
    border: 1px solid #333;
    height: 530px;
    width: 650px;
    float: right;   
    margin-right: -10px;
}

#row_1 {
    height: 100px;
    border-bottom: 10px solid black;
}

#row_2 {
    height: 170px;
    border-bottom: 10px solid black;
}

#row_3 {
    height: 80px;
    border-bottom: 10px solid black;
}
    
#row_4 {
    height: 150px;
  
}


#row_1_1 {
    float:left;
    height: 100px;
    width: 130px;
    border-right: 10px solid black;
    background-color: white;
}

#row_1_2 {
    float:left;
    height: 100px;
    width: 250px;
    border-right: 10px solid black;
     background-color: white;
}

#row_1_3 {
    float:left;
    height: 100px;
    width: 90px;
    border-right: 10px solid black;
     background-color: white;
}

#row_1_4 {
    float:left;
    height: 100px;
    width: 150px; 
     background-color: white;
}

#row_2_1 {
    float:left;
    height: 170px;
    width: 130px;
    border-right: 10px solid black;
     background-color: white;
}

#row_2_2 {
    float:left;
    height: 170px;
    width: 250px;
    border-right: 10px solid black;
     background-color: white;
}

#row_2_3 {
    float:left;
    height: 170px;
    width: 90px;
    border-right: 10px solid black;
     background-color: white;
}

#row_2_4 {
    float:left;
    height: 170px;
    width: 150px;  
     background-color: white;
}

#row_3_1 {
    float:left;
    height: 80px;
    width: 130px;
    border-right: 10px solid black;
     background-color: white;
}

#row_3_2 {
    float:left;
    height: 80px;
    width: 250px;
    border-right: 10px solid black;
     background-color: white;
}

#row_3_3 {
    float:left;
    height: 80px;
    width: 90px;
    border-right: 10px solid black;
     background-color: white;
}

#row_3_4 {
    float:left;
    height: 80px;
    width: 150px;  
     background-color: white;
}

#row_4_1 {
    float:left;
    height: 150px;
    width: 130px;
    border-right: 10px solid black;
     background-color: white;
}

#row_4_2 {
    float:left;
    height: 150px;
    width: 250px;
    border-right: 10px solid black;
     background-color: white;
}

#row_4_3 {
    float:left;
    height: 150px;
    width: 90px;
    border-right: 10px solid black;
     background-color: white;
}

#row_4_4 {
    float:left;
    height: 150px;
    width: 150px;   
     background-color: white;
}


#clear {
    clear: both;
}


#boxes {
    width: 800px;
    margin: 100px auto; 
}



.box {
    width: 100px;
    height: 100px;
    position: relative;
    float:left;
    background-color: #dbd1d1;
    margin: auto;
}

