html {
    background: #e6e9e9;

}

body {
    
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #545454;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 800px;
    padding: 2em 2em 4em;
}

#title {
    margin-top: 90px;
}

h1, h2, h3, h4, h5, h6 {
    color: #222;
    font-weight: 600;
    line-height: 1.3;
}

h2 {
    margin-top: 3em;
}

a {
    color: #0083e8;
}

b, strong {
    font-weight: 600;
}

samp {
    display: none;
}

img {
    background: transparent;
    border: 10px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    display: block;
    margin: 1.3em auto;
    max-width: 95%;
}



#button {
    position: absolute;
    z-index: 2;
    top: 20px;
    background-color: yellow;
    color: #0e606f;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin-left: 320px;
    text-decoration: none;
    padding: 10px;
    box-shadow: 
        1px 0 0 #831127, 
        0 1px 0 #831127, 
        2px 1px 0 #831127, 
        1px 2px 0 #831127, 
        3px 2px 0 #831127, 
        2px 3px 0 #831127, 
        4px 3px 0 #831127, 
        3px 4px 0 #831127, 
        4px 4px 5px  #000;
}

#bdayParty {
    background-color: #ffafe6;
    font-size: 34px;
    position: absolute;
    width: 800px;
    padding: 10px;
    height: 200px;
    color: rebeccapurple;
    letter-spacing: 2px;
}


#bdayBanner {
    text-align: center;
    margin-top: 20px;
}

#happyBday {
    text-align: center;
}

form {
    text-align: center;
    position: absolute;
    width: 800px;
    top: 150px;
}




#lunch_choice {
    background-color: #e6d67d;
    height: 225px;
    box-shadow: 0 0 8px black;
    margin-top: 380px;
}

#food_repeater { 
    text-align: center;
    position: absolute;
    top: 635px;
    width: 800px;
    font-size: 30px;
}

#advice {
    font-size: 30px;
    position: absolute;
    top: 700px;
    width: 800px;
    text-align: center;
}

#lunch {
    font-size: 20px;
    position: absolute;
    left: 250px;
    top: 680px
}

#submit_btn {
    font-size: 20px;
    position: absolute;
    left: 505px;
    top: 680px;
}




.spacer_container {
    
    padding-bottom:  60px;
    margin-top: 100px;
}


.workplace {
    background-color: lightyellow;
    box-shadow: 0 0 8px black;
    width: 720px;
    padding: 40px 40px;
    margin-top: 30px;

}

#pickcolor {
    text-align: center;
    text-shadow: -1px -1px 0 rgba(255,255,255,0.5), 1px 1px 0 rgba(0,0,0,0.5);
    color: #333;
    font-size: 38px;
    font-family: "Century Gothic";
    padding: 30px 0;
    margin-top: -40px;
}

#palette {
    float: left;
}

.color {
    height: 50px;
    width: 50px;
    border: 1px solid #aaa;
    margin-bottom: 20px;
    cursor: pointer;
    margin-left: -10px;
}

#red { background-color: #cc0000; }
#yellow { background-color: #ffec00; }
#blue { background-color: #0000cc; }
#white { background-color: white; }

#canvas {
    border: 1px solid #333;
    height: 530px;
    width: 650px;
    float: right;   
    margin-right: -10px;
}

#row_1 {
    height: 100px;
    border-bottom: 10px solid black;
}

#row_2 {
    height: 170px;
    border-bottom: 10px solid black;
}

#row_3 {
    height: 80px;
    border-bottom: 10px solid black;
}
    
#row_4 {
    height: 150px;
  
}


#row_1_1 {
    float:left;
    height: 100px;
    width: 130px;
    border-right: 10px solid black;
    background-color: white;
}

#row_1_2 {
    float:left;
    height: 100px;
    width: 250px;
    border-right: 10px solid black;
     background-color: white;
}

#row_1_3 {
    float:left;
    height: 100px;
    width: 90px;
    border-right: 10px solid black;
     background-color: white;
}

#row_1_4 {
    float:left;
    height: 100px;
    width: 150px; 
     background-color: white;
}

#row_2_1 {
    float:left;
    height: 170px;
    width: 130px;
    border-right: 10px solid black;
     background-color: white;
}

#row_2_2 {
    float:left;
    height: 170px;
    width: 250px;
    border-right: 10px solid black;
     background-color: white;
}

#row_2_3 {
    float:left;
    height: 170px;
    width: 90px;
    border-right: 10px solid black;
     background-color: white;
}

#row_2_4 {
    float:left;
    height: 170px;
    width: 150px;  
     background-color: white;
}

#row_3_1 {
    float:left;
    height: 80px;
    width: 130px;
    border-right: 10px solid black;
     background-color: white;
}

#row_3_2 {
    float:left;
    height: 80px;
    width: 250px;
    border-right: 10px solid black;
     background-color: white;
}

#row_3_3 {
    float:left;
    height: 80px;
    width: 90px;
    border-right: 10px solid black;
     background-color: white;
}

#row_3_4 {
    float:left;
    height: 80px;
    width: 150px;  
     background-color: white;
}

#row_4_1 {
    float:left;
    height: 150px;
    width: 130px;
    border-right: 10px solid black;
     background-color: white;
}

#row_4_2 {
    float:left;
    height: 150px;
    width: 250px;
    border-right: 10px solid black;
     background-color: white;
}

#row_4_3 {
    float:left;
    height: 150px;
    width: 90px;
    border-right: 10px solid black;
     background-color: white;
}

#row_4_4 {
    float:left;
    height: 150px;
    width: 150px;   
     background-color: white;
}


#clear {
    clear: both;
}


#boxes {
    width: 800px;
    margin: 100px auto; 
}



.box {
    width: 100px;
    height: 100px;
    position: relative;
    float:left;
    background-color: #dbd1d1;
    margin: auto;
}

#sushi_workplace {
    background-color: white;
}

.sushi {
    display: inline-block;
    border: none;
    cursor: pointer;
}

#seaweed {
    margin-left: 70px;
}

#eel {
    margin-left: 40px;
}

#shrimp {
    margin-left: 60px;    
}

#sake {
    margin-left: 60px;
}

#fancy_roll {
    margin-left: 50px;
    
}

#masago {
    margin-left: 70px;
}

.shake {
    animation: shake 1s;
}
@keyframes shake {
    0%, 100% {transform: translateX(0);}
	5%, 15%, 25%, 35%, 45%, 55%, 65%, 75%, 85%, 95% {transform: translateX(-5px);}
	10%, 20%, 30%, 40%, 50%, 60%, 70%, 80%, 90% {transform: translateX(5px);}    
}

.hop {
    animation: hop 2s;
}
@keyframes hop {
    0% {transform: translateX(0);}
	12% {transform: translateY(-100px) rotate(-20deg);}
	25% {transform: translateX(-20px);}
	37% {transform: translateY(-100px) rotate(20deg);}
	50% {transform: translateX(20px);}
	62% {transform: translateY(-100px) rotate(-20deg);}
	75% {transform: translateX(-20px);}
	87% {transform: translateY(-100px) rotate(20deg);}
	100% {transform: translateX(0);}   
}

.spin {
    animation: spin 2s;
}
@keyframes spin {
    0% {transform: rotate(0deg)}
	8% {transform: rotate(-50deg)}
	12% {transform: rotate(-50deg) }
	100% {transform: rotate(3600deg)}
}

.grow {
    animation: grow 2s;
}
@keyframes grow {
    0% { transform: scale(1); }
	75% { transform: scale(2.5); }
	90% { transform: scale(0.6); }
	93% { transform: scale(1.4); }
	95% { transform: scale(0.8); }
	97% { transform: scale(1.2); }
	100% { transform: scale(1); }
}

.hooray {
    animation: hooray 2s;
}
@keyframes hooray {
    0% {transform: translateX(0) translateY(0) scale(1, 1);}
	10% {transform: translateX(60px) translateY(-60px) scale(1.5, 1.5);}
	20% {transform: translateX(0) translateY(0) scale(.7, .7);}
	30% {transform: translateX(-60px) translateY(-60px) scale(1.5, 1.5);}
	40% {transform: translateX(0) translateY(0) scale(.7, .7);}
	50% {transform: translateX(60px) translateY(-60px) scale(1.5, 1.5);}
	60% {transform: translateX(0) translateY(0) scale(.7, .7);}
	70% {transform: translateX(-60px) translateY(-60px) scale(1.5, 1.5);}	
	80% {transform: translateX(0) translateY(0) scale(.7, .7);}
	90% {transform: translateX(60px) translateY(-60px) scale(1.5, 1.5);}
	100% {transform: translateX(0) translateY(0) scale(1, 1);}
}



#dice_container {
    background-color: lightyellow;
    width: 800px;
    height: 450px;
    position: absolute;
    top: 3350px;
    margin-bottom: 100px;
    
}



#roll {
    text-align: center;
    position: absolute;
    top: 3350px;
    left: auto;
    width: 800px;
    z-index: 2;
    font-size: 40px;
    font-family: "Arial Black", "Arial Bold";
}

.dice_face {
    width: 150px;
    height: 150px;
    position: absolute;
    background-color: blue;
    border-radius: 10px;
    
}

#dice1 {
    top: 170px;
    left: 250px;
}

#dice2 {
    top: 170px;
    left: 450px;
}

.pip {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 20px;
}

/* pip order [1   5
              2 4 6
              3 5 7]*/
 
.pip1 {
    top: 6px;
    left: 10px;
}

.pip2 {
    top: 56px;
    left: 10px;
}

.pip3 {
    top: 106px;
    left: 10px;
}

.pip4 {
    top: 56px;
    left: 56px;
}

.pip5 {
    top: 6px;
    left: 100px;
}

.pip6 {
    top: 56px;
    left: 100px;
}

.pip7 {
    top: 106px;
    left: 100px;
}

#shaker {
    width: 200px;
    height: 40px;
    background-color: #6cce0d;
    text-align: center;
    font-size: 26px;
    position: absolute;
    top: 3720px;
    left: 400px;
    z-index: 2;
    font-family: "Arial Black", "Arial Bold";
    cursor: pointer;
}

.btn_up {
    box-shadow: 2px 2px 2px darkgreen;
}

.btn_down {
    box-shadow: -1px -1px 0px darkgreen;
}
